  name: first workflow
  on:
    push:
      branches:
        - main
    fork:
  jobs:
    job1:
      environment: Dev 
      runs-on: ubuntu-latest
      steps:
        - run: echo "hello world from env ${{ vars.name }}"
    
       
  
